body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* background-image: url('Screenshot 2024-12-10 at 3.41.58 PM.png'); */

}

header .logo img {
    max-width: 60px;
    background-image: url('/Users/the_sahilsuman/Documents/VS Code/Inventery Shop/laptop_586.webp');
}

header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

header nav ul li a:hover {
    color: #00bcd4;
}

main {
    padding: 20px;
    background-color: #fff;
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    text-transform: uppercase;
}

.product-list, .order-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item, .order-item {
    border: 1px solid #ddd;
    padding: 15px;
    width: 220px;
    background-color: #fff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product-item:hover, .order-item:hover {
    transform: scale(1.05);
}

.product-item img, .order-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #00bcd4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0097a7;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
